.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/dreamstime_m_115833006.jpg');
  height: 100vh;
  width: 100vw;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}