.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url('../../assets/bee-sign.jpg');
  height: 100vh;
  width: 100vw;
  position: relative;
  color: red;
  background-repeat: no-repeat;
  background-size: cover;
}